<launch>
    <arg name="sim" default="true"/>
    <arg name="robot_ip" default="192.168.2.13"/>

    <!--Launch the realsense ros wrapper-->

    <include file="$(find aubo_i5_moveit_config)/launch/demo.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="camera_optical_broadcaster" args="0.0 0.0 0.0 -1.571 0.000 -1.571 virtual_camera_color_frame virtual_camera_color_optical_frame 0.01" />

    <!--node pkg="NursingRobot" type="NursingRobot" name="NursingRobot" /-->
</launch>
